<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstForm">
    <form [formGroup]="firstForm" (ngSubmit)="onSubmit()">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-card>
              <mat-card-header>
                  
                              <div mat-card-avatar class="image-avatar" [matMenuTriggerFor]="menu">
                              </div>
                              <mat-menu #menu="matMenu">
                                <label mat-menu-item for="pictureupload" ><input type="file" #file (change)="onselect()" [hidden] = "true" id="pictureupload" formControlName="pic" >Upload</label>
      
                                <button mat-menu-item>Get from <i class="fas fa-instagram "></i></button>
                              </mat-menu>
                              
                      <mat-card-title>Add new Design</mat-card-title>
                      <mat-card-subtitle>What's on your mind?</mat-card-subtitle>
                    </mat-card-header>
                    <div>
                      <div *ngFor="let picture of pictures; let i = index" >
                        <img  [src]="base64[i]"/>
                      </div>
                    </div>
                    <mat-card-content>
      <mat-form-field>
          <input matInput formControlName="designTitle" placeholder="Fashion Title">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput formControlName="designDescription" placeholder="What design is on your mind?">
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Who can where this dress?</mat-label>
          <mat-select>
            <mat-option *ngFor="let Gender of Genders" [value]="Gender.value">
              {{Gender.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
              <button mat-button>Cancel</button>
              <button type="submit" [disabled]="!firstForm.valid" mat-button>Save</button>
            </mat-card-actions>
      </mat-card>
      </form>
  </mat-step>
  <mat-step [stepControl]="secondForm">
    <form [formGroup]="secondForm">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip
            *ngFor="let fruit of fruits"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(fruit)">
            {{fruit}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Tags..."
            #fruitInput
            formControlName = 'tagsvalue'
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
            {{fruit}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="How long does it take to make this design?">
      </mat-form-field>
      <br/>
      <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip
            *ngFor="let fabric of fabrics"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="removeFabric(fabric)">
            {{fabric}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Fabrics"
            #fabricInput
            formControlName = 'fabricsvalue'
            [matAutocomplete]="autoFabric"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addFabric($event)">
        </mat-chip-list>
        <mat-autocomplete #autoFabric="matAutocomplete" (optionSelected)="selectedFabric($event)">
          <mat-option *ngFor="let fabric of filteredFabric | async" [value]="fabric">
            {{fabric}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
